@import "variables";

.container-form {
  width: 80%;
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem 1.5rem;
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.6);
  background-color: white;
  border-radius: 10px;
  h1 {
    color: $VeryDarkViolet;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    margin-bottom: 1rem;

    label {
      text-align: left;
      padding-left: 1rem;
      margin-bottom: 0.4rem;
      color: $VeryDarkBlue;
    }

    .inputs {
      display: flex;
      flex-wrap: wrap;
      input {
        flex: 1;
        flex-basis: 210px;
        margin-bottom: 0.2rem;
      }
    }
  }
  button {
    background-color: $Cyan;
    color: white !important;
    border: none;
    outline: none;
    border-radius: 3rem;
    padding: 0.75rem 2rem;
    cursor: pointer;
    margin-top: 1rem;
    // font-weight: bold;
    font-size: 0.8rem;
    // font-size: 1rem;
    // font-weight: 700;
  }
  input {
    padding: 0.6rem 1.2rem;
    outline: none;
    border: 1px solid $Cyan;
    border-radius: 100px;
    background: transparent;
  }
}
.container-main {
  text-align: center;
  margin-top: 2rem;
  h1 {
    margin: 0rem auto 1rem;
    font-family: "Oleo Script", cursive;
  }
}
